#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_clean:
	dh_auto_clean -Sautoconf

override_dh_auto_configure:
	dh_auto_configure -Sautoconf

override_dh_auto_build:
	dh_auto_build -Sautoconf

override_dh_auto_install:
	dh_auto_install -Sautoconf
